<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao Sistema</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Bem-vindo ao Sistema de paineis PowerBI CAURN</h1>
    </header>
    <div class="button-container">
        <a th:href="@{/powerbi/painel1}" target="_blank" class="button">Painel 1</a>
        <a th:href="@{/powerbi/painel2}" target="_blank" class="button">Painel 2</a>
        <a th:href="@{/powerbi/painel3}" target="_blank" class="button">Painel 3</a>
        <a th:href="@{/powerbi/painel4}" target="_blank" class="button">Painel 4</a>
    </div>
</body>
</html>
